    </main>

    <footer class="page-footer blue darken-2" style="margin-top: 50px;"></main>

    <footer class="page-footer green darken-2" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Express Mongo Auth</h5>
                    <p class="grey-text text-lighten-4">Sistema de autenticación con roles.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2025 Laboratorio SEMANA7
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="/js/app.js"></script>
    
    <%- typeof scripts !== 'undefined' ? scripts : '' %>
</body>
</html>